.saludo{
    color: blueviolet;
    font-size: 2rem;
    height: auto;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    width: 100%;
}

#imagenQueen{
    margin-top: 5em;
    border-radius: 60em;
    align-items: center;
    justify-content: center;
}

.contenedorImagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
