.saludo{
    color: blueviolet;
    text-align: center;
}

.nombre{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
}

.etiquetaDePagina{
    color: rgb(30, 48, 210);
}
